In [1]:
import pandas as pd
from scipy.spatial.distance import cosine

In [2]:
#Reading the four csv files in the MovieLens Downloaded data
user_cols = ['user_id', 'age', 'gender', 'occupation', 'zip_code']
users = pd.read_csv('../../../Downloads/ml-100k/u.user', sep='|', names=user_cols,encoding='latin-1')

rating_cols = ['user_id', 'movie_id','rating', 'timestamp']
ratings = pd.read_csv('../../../Downloads/ml-100k/u.data', sep='\t', names=rating_cols,encoding='latin-1')

movies_cols = ['movie_id','movie_title', 'release_date', 'video_release_date','IMDb_URL', 'unknown', 'Action', 
               'Adventure','Animation','Children', 'Comedy' , 'Crime', 'Documentary', 'Drama', 'Fantasy',
              'Film_Noir',  'Horror',  'Musical', 'Mystery', 'Romance', 'Sci-Fi','Thriller','War','Western']
movies = pd.read_csv('../../../Downloads/ml-100k/u.item', sep='|', names=movies_cols,encoding='latin-1')

In [3]:
print(users.shape)
users.head()
print(ratings.shape)
ratings.head()
print(movies.shape)
movies.head()

(943, 5)
(100000, 4)
(1682, 24)

,movie_id,movie_title,release_date,video_release_date,IMDb_URL,unknown,Action,Adventure,Animation,Children,...,Fantasy,Film_Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

In [4]:
#Splitting the data. Utilising the data split prior by the Movie Lens itself
r_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings_train = pd.read_csv('../../../Downloads/ml-100k/ua.base', sep='\t', names=r_cols, encoding='latin-1')
ratings_test = pd.read_csv('../../../Downloads/ml-100k/ua.test', sep='\t', names=r_cols, encoding='latin-1')
ratings_train.shape, ratings_test.shape

((90570, 4), (9430, 4))

In [67]:
ratings_train.head()

   user_id  movie_id  rating  timestamp
0        1         1       5  874965758
1        1         2       3  876893171
2        1         3       4  878542960
3        1         4       3  876893119
4        1         5       3  889751712

In [91]:
#Reshaping the ratings dataframe in the following format where the user and his preference are listed as below
#The rows are the users and the columns the movies
len(set(ratings_train['user_id']))
movies_train = ratings_train.pivot(index='user_id', columns='movie_id', values='rating')
movies_train = movies_train.fillna(0)
value = [0] * len(set(ratings_train['user_id']))
movies_train.insert(1581,'1582',value)
movies_train.insert(1652,'1653',value)
movies_train.head()

movie_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [95]:
# --- Start Item Based Recommendations --- #
#uses cosine similarity
# Drop all columns that do not describe the type of item.
#Create a placeholder dataframe listing item vs. item

movies_train.columns = movies['movie_title']
movie_similarity = pd.DataFrame(index=movies_train.columns,columns=movies_train.columns)
movies_train.head()

movie_title,Toy Story (1995),GoldenEye (1995),Four Rooms (1995),Get Shorty (1995),Copycat (1995),Shanghai Triad (Yao a yao yao dao waipo qiao) (1995),Twelve Monkeys (1995),Babe (1995),Dead Man Walking (1995),Richard III (1995),...,Mirage (1995),Mamma Roma (1962),"Sunchaser, The (1996)","War at Home, The (1996)",Sweet Nothing (1995),Mat' i syn (1997),B. Monkey (1998),Sliding Doors (1998),You So Crazy (1994),Scream of Stone (Schrei aus Stein) (1991)
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
# Filling the dataframe movie_similarity with the cosine values by
# Looping through the columns
for i in range(1,len(movie_similarity.columns)) :
    # Loop through the columns for each column
    for j in range(1,len(movie_similarity.columns)) :
      # Fill in placeholder with cosine similarities
      movie_similarity.ix[i,j] = 1-cosine(movies_train.ix[:,i],movies_train.ix[:,j])
        
movie_similarity.head()

/Users/BhavikaJalli/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  import sys
/Users/BhavikaJalli/anaconda3/lib/python3.6/site-packages/scipy/spatial/distance.py:505: RuntimeWarning: invalid value encountered in double_scalars
  dist = 1.0 - np.dot(u, v) / (norm(u) * norm(v))

In [ ]:
#With the similarity matrix filled out we can look for each items “neighbour” by looping through ‘movie_similarity’, 
#sorting each column in descending order,and grabbing the name of each of the top 10 movies.
# Create a placeholder items for closes neighbours to an item
movie_neighbours = pd.DataFrame(index=movie_similarity.columns,columns=range(1,11))
movie_neighbours.head() 
# Loop through our similarity dataframe and fill in neighbouring item names
for i in range(0,len(movie_similarity.columns)):
    movie_neighbours.ix[i,:10] = movie_similarity.ix[0:,i].sort_values(ascending=False)[:10].index

movie_neighbours.head()    
#End of Item Based Filtering